
/* .red-hat-display-<uniquifier> {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

/* .background{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(./images/pattern-background-desktop.svg);
    background-position: top;
    background-size: cover;
    z-index: 0;
} */

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}

main{
    height: 600px;
    width: 90%;
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    /* display: flex; */
    /* flex-direction: column; */
}

.section2{
    padding: 35px;
}

.hero{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h2, p{
    text-align: center;
    
}

h2{
    font-weight: 900;
}

p{
    color: hsl(224, 23%, 55%);
}

.box{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    gap: 20px; 
    background-color: hsl(225, 100%, 98%);
    height: 70px;
    /* width: 330px; */
    border-radius: 10px;
    padding: 20px;
}

.pay-plan{
    color: black;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
}

.music-icon{
    width: 40px;
    height: 40px;
    align-self: center;
    position: relative;
    /* bottom: 5px; */
}

.inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.annual{
    font-weight: 700;
    color: black;
}

.price{
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.change{
    /* margin-left: 70px; */
    align-self: center;
    font-weight: 700;
    font-size: small;
}

.change:hover{
    cursor: pointer;
    opacity: 0.7;
    text-decoration: none;
}

button{
    background-color: hsl(245, 75%, 52%);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
}

button:hover{
    cursor: pointer;
    opacity: 0.7;
}

button a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.cancel{
    /* margin-left: 115px; */
    display: block;
    text-align: center;
    font-size: small;
    text-decoration: none;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
}

.cancel:hover{
    color: black;
}

@media(max-width: 600px){
    .body{
        background-image: url(./design/mobile-design.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(225, 100%, 94%); 
        padding: 20px;
        }

    main{
        max-width: 340px;

    }

}
